<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Basics of containerization</title>
  </head>

  <body>
    <h1>Simple App with Posts</h1>
    <nav class="navbar">
      <a href="/posts/add" class="navbar__link"> Create Post</a>
      <a href="/posts/list" class="navbar__link"> Posts List</a>
    </nav>
  </body>
</html>
